*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    background-color: #41a3f4;
    display: flex;
    border-bottom: 2px solid #606060;
    box-shadow: 0 1px 0 red;
    font-family: Calibri, serif;
}

.text {
    font-size: 5vh;
    font-weight: bold;
    margin-left: 50px;
}
.text2{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}


.menu {
    padding: 2.8vh 1vw 3.2vh 1vw;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: right;
    word-spacing: 20px;
    font-weight: bold;
    font-size: 3vh;
}
.silca {
    text-decoration: none;
    color: black;
}